.bgCoral {
    background-color: #DE5625;
}

.marPad {
    width: 90%;
    margin: 20px;
    padding: 15px;
}

.alignICenter {
    align-items: center;
}
.imgWidth{
    width: 70%;
    margin: auto;
    height: 200px;
}
.GridImg{
    display: flex;
    justify-content: space-between;
}
.w75{
    width: 75%;
}

.w25{
    width: 20%;
}
.mLeft{
    text-align: end;
}
.mAutoLR{
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}