.footer {
    /* margin-top: 50px; */
    background-color: #F0E68C;
    padding: 30px 80px;
    display: flex;
    justify-content: space-between;
}

.footer-links {
    width: 30%;
    padding: 20px;
}

.footer-links h1 {
    font-weight: 700;
    font-size: 35px;
}

ul li {

    background-color: #F0E68C;
}

ul li a {
    display: flex;
    align-items: center;
    font-size: 20px;
}

ul li a:hover {
    font-size: 22px;
    font-weight: 600;
    color: rgb(133, 34, 204);
     transition: all .4s
}
.right{
    margin-right: 5px;
}
ul li a:hover .right{
    display: block;
    transition: all .4s;
    transform: rotate(90deg)

}