.home__component {
  background-color: #1a1a1a;
  padding-top: 100px;
  background-image: url("../assets/Hexagon.svg");
  background-repeat: repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: 250px;
  z-index: -1;
}
img {
  width: 600px !important;
  height: 400px !important;
  object-fit: fill;
  border-radius: 20px;
  box-shadow: #000;
}
.bgCoral {
  font-size: 22px;
  border: 1px solid red;
  border-radius: 12px;
  padding: 5px 18px;
  color: white;

  /* background-color: rgb(243, 88, 31); */
}
.bgCoral:hover {
  border: 2px solid rgb(243, 88, 31);
  font-weight: 700;
}
