.home__component {
  background-color: #000;
  padding-top: 100px;
  background-image: url("../assets/Hexagon.svg");
  background-repeat: repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: 250px;
  z-index: -1;
}
img {
  width: 600px !important;
  height: 400px !important;
  object-fit: fill;
  border-radius: 20px;
  box-shadow: #000;
}
